/* Asegurarse de que html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Definir al body como contenedor flex vertical */
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* El contenido principal crece para ocupar el espacio disponible */
  .main-content {
    flex: 1;
  }
  